.header {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 5px solid #fad027;
    background-color: #fff;
    z-index: 10;
}
