.article {
    margin-bottom: 5rem;
}

.article__image {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

.article__body {
    margin-top: 2rem;
}

.article__date {
    width: 10%;
    float: left;
}

.article__day {
    padding: 1.5rem .3rem;
    text-align: center;
    background-color: #eee;
}

.article__month {
    padding: .5rem .3rem;
    text-align: center;
    background-color: $color_blue;
    color: #fff;
}

.article__content {
    width: 85%;
    text-align: left;
    float: right;
}

.article__meta {
    margin-top: 2rem;
    font-size: 1.4rem;
}

.article__author {
    float: left;

    &:before {
        content: "";
        display: inline-block;
        margin-right: .5rem;
        width: 1.2rem;
        height: 1.2rem;
        background-size: contain;
        background-image: url(../img/icons/author.png);
    }

    &:hover, &:focus {
        text-decoration: underline;
        color: #000;
    }
}

.article__tags {
    float: right;

    &:before {
        content: "";
        display: inline-block;
        margin-right: .5rem;
        width: 1.2rem;
        height: 1.2rem;
        background-size: contain;
        background-image: url(../img/icons/tag.png);
    }
}

.article__label {
    margin-right: 1rem;
}

.article__tag {
    display: inline-block;
    margin-right: .5rem;
    padding: .2rem 1.2rem;
    background-color: $color_blue;
    color: #fff;
}
