.banner {
    background-color: $color-blue;
    padding-top: 6rem;
    padding-bottom: 5rem;
    text-align: center;
}

.banner__image {
    vertical-align: middle;
    margin-right: 2rem;
    // width: 40%;
    height: auto;
}

.banner__label {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    width: 45rem;
    font-size: 4.6rem;
    color: #fff;
    font-style: italic;
}

@media screen and (max-width: 768px) {
    .banner__label {
        display: block;
        width: 100%;
        font-size: 4rem;
        text-align: center;
    }
}
