@import 'logo.scss';
@import 'main-container.scss';
@import "menu.scss";
@import 'banner.scss';
@import 'section.scss';
@import "about.scss";
@import 'skills';
@import 'projects.scss';
@import 'articles.scss';
@import 'blog.scss';
@import 'map.scss';
@import 'page-preloader.scss';
