.main-container {
    max-width: 1200px;
    min-width: 300px;
    margin: 0 auto;
    padding: 0 1rem;
}

.main-container_space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
