.menu {
    position: relative;
}

.menu__item {
    margin-right: 3rem;
    display: inline-block;
}

.hamburger__checkbox {
    display: none;
}

.hamburger__label {
    display: none;
    height: 1rem;
    width: 2.5rem;
    position: relative;
    background-color: transparent;
    border-bottom: .5rem solid;
    border-top: .5rem solid;
    border-color: $color_blue;
    transition: border-color .6s ease .7s;

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 100%;
        border-top: .5rem solid;
        border-color: $color_blue;
        transition: transform .7s ease 0s;
    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 100%;
        border-top: .5rem solid;
        border-color: $color_blue;
        transition: transform .7s ease 0s;
    }
}

.hamburger__checkbox:checked + .hamburger__label {
    border-color: transparent;

    &:before {
        transform: rotate(135deg);
        border-color: #fff;
    }

    &:after {
        transform: rotate(-135deg);
        border-color: #fff;
    }
    z-index: 3;
}

.hamburger__checkbox:checked ~ .menu__list {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: $color_blue;
    z-index: 2;
}

@media screen and (max-width: 640px) {
    .hamburger__label {
        display: block;
    }

    .menu__list {
        display: none;
        line-height: 4;
        padding-top: 6rem;
    }

    .menu__item {
        display: block;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        margin-right: 0;
        margin-top: 1rem;
    }

    .menu__link {
        color: #fff;
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 3rem;
        border-bottom: 1px solid #fff;

        &:last-of-type {
            border-bottom: 0;
        }

        &:hover, &:focus {
            background-color: #fff;
        }
    }
}
