.project {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    float: left;
    border: 1rem solid transparent;
}

.project__preview {
    width: 100%;
    height: auto;
}

.project__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    opacity: 0;
    top: 0;
    left: 0;
    background-color: $color_blue;
    transition: opacity .6s ease 0s;

    &:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
}

.project__link {
    &:hover, &:focus {
        .project__overlay {
            opacity: 1;
        }
    }
}

.project__description {
    vertical-align: middle;
    text-align: center;
    width: 95%;
    color: #fff;
}

@media screen and (max-width: 480px) {
    .project {
        width: 48%;
    }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
    .project {
        width: 32%;
    }
}

@media screen and (min-width: 769px) {
    .project {
        width: 25%;
    }
}
