.project {
    position: relative;
    overflow: hidden;
    float: left;
    margin-bottom: 2.4rem;
}

.project__preview {
    width: 100%;
    height: auto;
}

.project__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    opacity: 0;
    top: 0;
    left: 0;
    background-color: $color_blue;
    transition: opacity .6s ease 0s;

    &:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
}

.project__link {
    &:hover, &:focus {
        .project__overlay {
            opacity: 1;
        }
    }
}

.project__description {
    vertical-align: middle;
    text-align: center;
    width: 95%;
    color: #fff;
}

@media screen and (max-width: 480px) {
    .project {
        width: 48%;
        margin-right: 4%;

        &:nth-of-type(2n) {
            margin-right: 0
        };

        &:nth-last-of-type(-n+2) {
            margin-bottom: 0;
        };
    }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
    .project {
        width: 32%;
        margin-right: 2%;

        &:nth-of-type(3n) {
            margin-right: 0
        };

        &:nth-last-of-type(-n+3) {
            margin-bottom: 0;
        };
    }
}

@media screen and (max-width: 1200px) and (min-width: 769px) {
    .project {
        width: 24%;
        margin-right: 1%;

        &:nth-of-type(4n) {
            margin-right: 0
        };

        &:nth-last-of-type(-n+4) {
            margin-bottom: 0;
        };
    }
}
