.section {
    padding-top: 5rem;
    padding-bottom: 4.5rem;
    border-bottom: 1px solid #eee;
    box-shadow: 0 -0.5rem 2rem #eee inset;
    padding: 6.0rem 0;
}

.section__title {
    font-size: 3.5rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #eee;
    margin-bottom: 1.5rem;
}

.section__content {
    padding-top: 4.5rem;
}

@media screen and (max-width: 768px) {
    .section {
        padding-bottom: 4rem;
        padding-top: 4rem;
    }

    .section__content {
        padding-top: 1rem;
    }

    .section__title {
        margin-bottom: 0;
        padding-bottom: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .section {
        padding-bottom: 3rem;
        padding-top: 3rem;
    }

    .section__title {
        padding-bottom: .5rem;
    }

    .section__content {
        padding-top: 2rem;
    }
}
