.section {
    padding-top: 5rem;
    padding-bottom: 4.5rem;
    border-bottom: 1px solid #eee;
    box-shadow: 0 -0.5rem 2rem #eee inset;
    padding: 6.0rem 0;
}

.section__title {
    font-size: 3.5rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #eee;
    margin-bottom: 1.5rem;
}
