* {
  margin: 0;
  padding: 0; }

html {
  font-size: 10px; }

body {
  font-family: roboto, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #000; }

@media screen and (max-width: 940px) {
  html {
    font-size: 8px; } }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.logo {
  font-size: 2.4rem;
  margin-left: .8rem;
  float: left; }

.logo__caption {
  font-size: 1.6rem;
  display: block;
  color: #0091be; }

.main-container {
  max-width: 1200px;
  min-width: 300px;
  margin: 0 auto;
  padding: 0 1rem; }

.menu {
  position: relative; }

.menu__item {
  margin-right: 3rem;
  display: inline-block; }

.hamburger__checkbox {
  display: none; }

.hamburger__label {
  display: none;
  height: 2rem;
  width: 4.5rem;
  position: relative;
  background-color: transparent;
  border-bottom: .8rem solid;
  border-top: .8rem solid;
  border-color: #0091be; }
  .hamburger__label:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    border-top: .8rem solid;
    border-color: inherit; }
  .hamburger__label:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    border-top: .8rem solid;
    border-color: inherit; }

.hamburger__checkbox:checked + .hamburger__label {
  border-top: 0;
  border-bottom: 0;
  border-color: #0091be;
  z-index: 3; }
  .hamburger__checkbox:checked + .hamburger__label:before {
    transform: rotate(45deg); }
  .hamburger__checkbox:checked + .hamburger__label:after {
    transform: rotate(-45deg); }

.hamburger__checkbox:checked ~ .menu__list {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2; }

@media screen and (max-width: 640px) {
  .hamburger__label {
    display: block; }
  .menu__list {
    display: none;
    line-height: 4;
    padding-top: 2rem; }
  .menu__item {
    display: block;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-right: 0; }
  .menu__link {
    color: #0091be; } }

.banner {
  background-color: #0091be;
  padding-top: 6rem;
  padding-bottom: 5rem;
  text-align: center; }

.banner__image {
  vertical-align: middle;
  margin-right: 2rem;
  height: auto; }

.banner__label {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  width: 45rem;
  font-size: 4.6rem;
  color: #fff;
  font-style: italic; }

@media screen and (max-width: 768px) {
  .banner__label {
    display: block;
    width: 100%;
    font-size: 4rem;
    text-align: center; } }

.section {
  padding-top: 5rem;
  padding-bottom: 4.5rem;
  border-bottom: 1px solid #eee;
  box-shadow: 0 -0.5rem 2rem #eee inset;
  padding: 6.0rem 0; }

.section__title {
  font-size: 3.5rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #eee;
  margin-bottom: 1.5rem; }

.section__content {
  padding-top: 4.5rem; }

.about__column {
  width: 48%;
  float: left;
  margin-right: 2%; }
  .about__column:last-of-type {
    width: 50%;
    margin-right: 0; }

@media screen and (max-width: 640px) {
  .about__column {
    width: 95%;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto; }
    .about__column:last-of-type {
      width: 95%;
      margin-top: 1.5rem;
      margin-left: auto;
      margin-right: auto; } }

.skill {
  margin-bottom: 3rem; }
  .skill:last-of-type {
    margin-bottom: 0; }

.skill__title {
  font-size: 1.6rem;
  font-weight: 700; }

.skill__progress-bar {
  margin-top: 1.5rem;
  background-color: #eeeeee;
  height: 3rem;
  border-radius: .4rem; }

.skill__value {
  height: 3rem;
  border-radius: .4rem; }

.skill__value_doc {
  width: 90%;
  background-color: #0091be; }

.skill__value_design {
  width: 65%;
  background-color: #40c95d; }

.skill__value_mobile {
  width: 80%;
  background-color: #d7d93f; }

.project {
  position: relative;
  overflow: hidden;
  float: left;
  margin-bottom: 2.4rem; }

.project__preview {
  width: 100%;
  height: auto; }

.project__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  opacity: 0;
  top: 0;
  left: 0;
  background-color: #0091be;
  transition: opacity .6s ease 0s; }
  .project__overlay:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle; }

.project__link:hover .project__overlay, .project__link:focus .project__overlay {
  opacity: 1; }

.project__description {
  vertical-align: middle;
  text-align: center;
  width: 95%;
  color: #fff; }

@media screen and (min-width: 960px) {
  .project {
    width: 24%;
    margin-right: 1%; }
    .project:nth-of-type(4n) {
      margin-right: 0; }
    .project:nth-last-of-type(-n+4) {
      margin-bottom: 0; } }

@media screen and (min-width: 640px) {
  .project {
    width: 32%;
    margin-right: 2%; }
    .project:nth-of-type(3n) {
      margin-right: 0; }
    .project:nth-last-of-type(-n+3) {
      margin-bottom: 0; } }

@media screen and (min-width: 480px) {
  .project {
    width: 48%;
    margin-right: 4%; }
    .project:nth-of-type(2n) {
      margin-right: 0; }
    .project:nth-last-of-type(-n+2) {
      margin-bottom: 0; } }

@media screen and (max-width: 479px) {
  .project {
    width: 92%;
    margin-right: 4%;
    margin-left: 4%; } }

.article {
  margin-bottom: 5rem; }

.article__image {
  width: 100%;
  height: auto;
  margin-bottom: 2rem; }

.article__body {
  margin-top: 2rem; }

.article__date {
  width: 10%;
  float: left; }

.article__day {
  padding: 1.5rem .3rem;
  text-align: center;
  background-color: #eee; }

.article__month {
  padding: .5rem .3rem;
  text-align: center;
  background-color: #0091be;
  color: #fff; }

.article__content {
  width: 85%;
  text-align: left;
  float: right; }

.article__meta {
  margin-top: 2rem;
  font-size: 1.4rem; }

.article__author {
  float: left; }
  .article__author:before {
    content: "";
    display: inline-block;
    margin-right: .5rem;
    width: 1.2rem;
    height: 1.2rem;
    background-size: contain;
    background-image: url(../img/icons/author.png); }
  .article__author:hover, .article__author:focus {
    text-decoration: underline;
    color: #000; }

.article__tags {
  float: right; }
  .article__tags:before {
    content: "";
    display: inline-block;
    margin-right: .5rem;
    width: 1.2rem;
    height: 1.2rem;
    background-size: contain;
    background-image: url(../img/icons/tag.png); }

.article__label {
  margin-right: 1rem; }

.article__tag {
  display: inline-block;
  margin-right: .5rem;
  padding: .2rem 1.2rem;
  background-color: #0091be;
  color: #fff; }

.blog__column {
  float: left;
  width: 46%;
  margin-left: 2%;
  margin-right: 2%; }

@media screen and (max-width: 640px) {
  .blog__column {
    width: 96%; } }

.map {
  height: 45rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/map.jpg); }

.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 5px solid #fad027; }

.header__menu {
  float: right;
  margin-top: 1.5rem; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #3c3838;
  color: #fff;
  padding: 3.5rem 0;
  font-size: 1.4rem; }

.copyright {
  float: left; }

.author {
  float: right; }

.page {
  position: relative;
  min-width: 300px;
  box-sizing: border-box;
  padding-bottom: 9rem;
  overflow: hidden; }

@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Regular.ttf); }

h1, h2, h3 {
  font-weight: 400; }

.title__middle {
  font-size: 3rem; }

.title__small {
  font-size: 2.4rem; }

a {
  text-decoration: none;
  color: #000; }
  a:hover, a:focus {
    color: #0091be; }

p {
  line-height: 2; }

ul, ol {
  list-style: none; }
