* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: roboto, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #000;
}

@media screen and (max-width: 940px) {
    html {
        font-size: 8px;
    }
}

@import 'helpers.scss';
@import 'settings.scss';
@import 'components/components.scss';
@import 'layout/layout.scss';
@import 'typographics/typographics.scss';
