* {
  margin: 0;
  padding: 0; }

html {
  font-size: 10px; }

body {
  font-family: roboto, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #000; }

@media screen and (max-width: 940px) {
  html {
    font-size: 8px; } }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.logo {
  margin-left: .8rem; }

.logo__caption {
  font-size: 1.6rem;
  display: block;
  color: #0091be; }

.main-container {
  max-width: 1200px;
  min-width: 300px;
  margin: 0 auto;
  padding: 0 1rem; }

.container_space-between {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.menu {
  position: relative; }

.menu__item {
  margin-right: 3rem;
  display: inline-block; }

.hamburger__checkbox {
  display: none; }

.hamburger__label {
  display: none;
  height: 1rem;
  width: 2.5rem;
  position: relative;
  background-color: transparent;
  border-bottom: .5rem solid;
  border-top: .5rem solid;
  border-color: #0091be;
  transition: border-color .6s ease .7s; }
  .hamburger__label:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 100%;
    border-top: .5rem solid;
    border-color: #0091be;
    transition: -webkit-transform .7s ease 0s;
    transition: transform .7s ease 0s;
    transition: transform .7s ease 0s, -webkit-transform .7s ease 0s; }
  .hamburger__label:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 100%;
    border-top: .5rem solid;
    border-color: #0091be;
    transition: -webkit-transform .7s ease 0s;
    transition: transform .7s ease 0s;
    transition: transform .7s ease 0s, -webkit-transform .7s ease 0s; }

.hamburger__checkbox:checked + .hamburger__label {
  border-color: transparent;
  z-index: 3; }
  .hamburger__checkbox:checked + .hamburger__label:before {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    border-color: #fff; }
  .hamburger__checkbox:checked + .hamburger__label:after {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    border-color: #fff; }

.hamburger__checkbox:checked ~ .menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: #0091be;
  z-index: 2; }

@media screen and (max-width: 640px) {
  .menu {
    margin-right: .8rem; }
  .hamburger__label {
    display: block; }
  .menu__list {
    display: none;
    line-height: 4; }
  .menu__item {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-right: 0;
    margin-top: 1rem; }
  .menu__link {
    color: #fff;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3rem;
    border-bottom: 1px solid #fff; }
    .menu__link:last-of-type {
      border-bottom: 0; }
    .menu__link:hover, .menu__link:focus {
      background-color: #fff; } }

.banner {
  background-color: #0091be;
  padding-top: 15.2rem;
  padding-bottom: 5rem;
  text-align: center; }

.banner__image {
  vertical-align: middle;
  margin-right: 2rem;
  height: auto; }

.banner__label {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  width: 45rem;
  font-size: 4.6rem;
  color: #fff;
  font-style: italic; }

@media screen and (max-width: 768px) {
  .banner__image {
    margin-right: 0; }
  .banner__label {
    display: block;
    width: 100%;
    font-size: 4rem;
    text-align: center;
    margin-top: 2rem; } }

.section {
  padding-top: 5rem;
  padding-bottom: 4.5rem;
  box-shadow: 0 -0.5rem 2rem #eee inset;
  border-bottom: 1px solid #eee;
  padding: 6.0rem 0; }

.section__title {
  padding-bottom: 2rem;
  border-bottom: 1px solid #eee;
  margin-bottom: 1.5rem; }

.section__content {
  padding-top: 4.5rem;
  display: flex;
  flex-wrap: wrap; }

@media screen and (max-width: 768px) {
  .section {
    padding-bottom: 4rem;
    padding-top: 4rem; }
  .section__content {
    padding-top: 1rem; }
  .section__title {
    margin-bottom: 0;
    padding-bottom: 1.5rem; } }

@media screen and (max-width: 480px) {
  .section {
    padding-bottom: 3rem;
    padding-top: 3rem; }
  .section__title {
    padding-bottom: .5rem; }
  .section__content {
    padding-top: 2rem; } }

.about__column {
  width: 48%;
  margin-right: 2%;
  vertical-align: middle; }
  .about__column:last-of-type {
    width: 50%;
    margin-right: 0; }

@media screen and (max-width: 640px) {
  .about__column {
    width: 95%;
    margin-left: auto;
    margin-right: auto; }
    .about__column:last-of-type {
      width: 95%;
      margin-top: 1.5rem;
      margin-left: auto;
      margin-right: auto; } }

.skill {
  margin-bottom: 3rem; }
  .skill:last-of-type {
    margin-bottom: 0; }

.skill__title {
  font-weight: 700; }

.skill__progress-bar {
  position: relative;
  margin-top: 1.5rem;
  background-color: #eeeeee;
  height: 3rem;
  border-radius: .4rem; }

.skill__value {
  height: 100%;
  border-radius: .4rem; }

.skill__value_num {
  display: none; }

.skill__value_doc {
  width: 90%;
  background-color: #0091be; }

.skill__value_design {
  width: 65%;
  background-color: #40c95d; }

.skill__value_mobile {
  width: 80%;
  background-color: #d7d93f; }

@media screen and (max-width: 768px) {
  .skill {
    margin-bottom: 2rem; }
  .skill__progress-bar {
    margin-top: 1rem;
    height: 2.5rem; }
  .skill__value {
    height: 2.5rem; } }

@media screen and (max-width: 480px) {
  .skills {
    padding-top: 2rem; }
  .skill {
    margin-bottom: 2.5rem; }
  .skill__progress-bar {
    margin-top: .5rem;
    height: 2rem; }
  .skill__value {
    height: 2rem; } }

.project {
  position: relative;
  margin-right: 1vw;
  margin-bottom: 1vw;
  font-size: 0; }
  .project:hover .project__overlay, .project:focus .project__overlay {
    opacity: 1; }

.project__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-align: center;
  opacity: 0;
  top: 0;
  left: 0;
  background-color: #0091be;
  transition: opacity .6s ease 0s; }
  .project__overlay:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle; }

.project__description {
  vertical-align: middle;
  text-align: center;
  width: 95%;
  color: #fff;
  font-size: 1.6rem; }

@media screen and (max-width: 480px) {
  .project {
    width: calc( ( 100% - 1vw ) / 2); }
    .project:nth-of-type(even) {
      margin-right: 0; } }

@media screen and (max-width: 768px) and (min-width: 481px) {
  .project {
    width: calc(( 100% - 2vw ) / 3); }
    .project:nth-of-type(3n) {
      margin-right: 0; } }

@media screen and (min-width: 769px) {
  .project {
    width: calc(( 100% - 3vw ) / 4); }
    .project:nth-of-type(4n) {
      margin-right: 0; } }

.article {
  margin-bottom: 5rem;
  position: relative;
  display: flex;
  flex-direction: column; }

.article__image {
  margin-bottom: 2rem; }

.article__body {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between; }

.article__date {
  width: 10%; }

.article__day {
  padding: 1.5rem .3rem;
  text-align: center;
  background-color: #eee; }

.article__month {
  padding: .5rem .3rem;
  text-align: center;
  background-color: #0091be;
  color: #fff; }

.article__content {
  width: 85%;
  text-align: left; }

.article__meta {
  margin-top: 2rem;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between; }

.article__author:before {
  content: "";
  display: inline-block;
  margin-right: .5rem;
  width: 1.2rem;
  height: 1.2rem;
  background-size: contain;
  background-image: url(../img/icons/author.png); }

.article__author:hover, .article__author:focus {
  text-decoration: underline;
  color: #000; }

.article__tags:before {
  content: "";
  display: inline-block;
  margin-right: .5rem;
  width: 1.2rem;
  height: 1.2rem;
  background-size: contain;
  background-image: url(../img/icons/tag.png); }

.article__label {
  margin-right: 1rem; }

.article__tag {
  display: inline-block;
  margin-right: .5rem;
  padding: .2rem 1.2rem;
  background-color: #0091be;
  color: #fff; }

@media screen and (max-width: 768px) {
  .article__author {
    display: none; } }

@media screen and (max-width: 480px) {
  .article {
    padding-bottom: 3rem;
    margin-bottom: 0; }
  .article__tag:nth-of-type(n+4) {
    display: none; }
  .article__date {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    display: flex; }
  .article__day {
    padding: .8rem 1rem; }
  .article__month {
    padding: .8rem 1rem; }
  .article__content {
    width: 100%; }
  .article__meta {
    order: 2; } }

.blog__column {
  float: left;
  width: 46%;
  margin-left: 2%;
  margin-right: 2%; }

@media screen and (max-width: 640px) {
  .blog__column {
    width: 96%;
    border-top: 1px solid #eee;
    padding-top: 4rem; } }

.map {
  max-height: 60vh;
  height: 45rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/map.jpg); }

.page-preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 998;
  background-color: #0091be; }

.preloader__item {
  content: "";
  display: block;
  position: absolute;
  background-color: #cae9f4;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  z-index: 999; }

.preloader__item1 {
  -webkit-animation-name: orbit;
  animation-name: orbit;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.preloader__item2 {
  -webkit-animation-name: orbit;
  animation-name: orbit;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.preloader__item3 {
  -webkit-animation-name: orbit;
  animation-name: orbit;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.preloader__item4 {
  -webkit-animation-name: orbit;
  animation-name: orbit;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s; }

@-webkit-keyframes orbit {
  0% {
    -webkit-transform: rotate(0deg) translate3d(150%, 0, 0);
    transform: rotate(0deg) translate3d(150%, 0, 0); }
  100% {
    -webkit-transform: rotate(360deg) translate3d(150%, 0, 0);
    transform: rotate(360deg) translate3d(150%, 0, 0); } }

@keyframes orbit {
  0% {
    -webkit-transform: rotate(0deg) translate3d(150%, 0, 0);
    transform: rotate(0deg) translate3d(150%, 0, 0); }
  100% {
    -webkit-transform: rotate(360deg) translate3d(150%, 0, 0);
    transform: rotate(360deg) translate3d(150%, 0, 0); } }

.responsive-image {
  max-width: 100%;
  height: auto; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 5px solid #fad027;
  background-color: #fff;
  z-index: 10; }

.footer {
  background-color: #3c3838;
  color: #fff;
  padding: 3.5rem 0;
  font-size: 1.4rem; }

.copyright {
  float: left; }

.author {
  float: right; }

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 2rem;
    padding-bottom: 2rem; } }

@media screen and (max-width: 480px) {
  .footer {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; } }

.page {
  position: relative;
  min-width: 300px;
  min-height: 100vh;
  box-sizing: border-box;
  padding-bottom: 9rem;
  overflow: hidden;
  padding-top: 9.375rem; }

@media screen and (max-width: 768px) {
  .page {
    padding-bottom: 6rem; } }

@media screen and (max-width: 480px) {
  .page {
    padding-bottom: 4.8rem; } }

@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Regular.ttf); }

h1, h2, h3 {
  font-weight: 400; }

.title_tiny {
  font-size: 1.6rem; }

.title_small {
  font-size: 2.4rem; }

.title_medium {
  font-size: 3rem; }

.title_large {
  font-size: 3.5rem; }

a {
  text-decoration: none;
  color: #000; }
  a:hover, a:focus {
    color: #0091be; }

p {
  line-height: 2; }

ul, ol {
  list-style: none; }
