.title {
    font-weight: 400;
}

.title_tiny {
    font-size: 1.6rem;
}

.title_small {
    font-size: 2.4rem;
}

.title_medium {
    font-size: 3rem;
}

.title_large {
    font-size: 3.5rem;
}
